@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

nav {
  height: 30px;;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

.collage-img {
position: absolute;
left: 77px;
top: 96px;
justify-content: center;
}

.collage{
  padding-top: 40px;
  padding-left: 200px;
}

.hero{
  padding: 40px;
  margin-bottom: 16px;
}

.hero-heading {
  font-size: 50px;
}

.hero-para {
  font-size: 16px;
  max-width: 500px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 175px;
  font-size: 12px;
  padding: 0px 40px;
}

.card--image {
  width: 175%;
  border-radius: 9px;
}

.card--star {
  height: 14px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: gray;
}

.space-line{
  margin-top: 0.5em;
}

.contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* .contact-card {
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
} */

/* .contact-card > img {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
} */

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

/* .info-group > img {
  height: 11px;
  margin-right: 8px;
} */

.info-group > p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}